.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: aliceblue;
}

.enlacesContainer {
    display: flex;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

.enlace {
    color: aliceblue;
    text-decoration: none;
}

.enlace:hover {
    color: aqua;
}