.container {
    display: flex;
    flex-direction: column;
    padding: 20px;

    align-items: center;
    
    background-image: url(../../imagenes/ladingpagebackground.jpg);
    background-repeat: no-repeat;
    height: 94.5vh;
    background-size: cover;
}



.landingTitle {
    font-size: 50px;
    font-family: 'Cormorant', serif;
    color: aliceblue;
   
}



