.container {
    display: flex;
    padding: 20px;
    
    justify-content: center;
    background-image: url(../../imagenes/ladingpagebackground.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
.center {
   flex-direction: column;
    display: flex;
}


.landingTitle {
    font-size: 50px;
    color: aliceblue;
    padding: 40px;
}

.button {
    padding: 20px;
}


.button:active {
    color: green;
}